<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<!--<ion-auto-complete [dataProvider]="completeTestService" (itemSelected)="clickMe()" #searchbar></ion-auto-complete>-->
<ion-searchbar [(ngModel)]="searchProductString" (input)="searchProduct($event)" 
                    placeholder="Search"></ion-searchbar>
    <ion-list *ngIf="showMe === true">
    <div>
        <button ion-item *ngFor="let product of products" (click)="clickMe(product)">
            {{product.text}}
        </button></div>
    </ion-list>
  <div align="center" class="item item-body"  *ngIf="showMe === false || showMe === ''">
    <img class="full-image" src="{{myProductPic}}" height="50%"><br>
    <h2>SKU: {{myProductSKU}}</h2>
    <h3>${{myProductPrice}}</h3>
  </div>
</ion-content>
